:root {
    --primary: #147190;
    --secondary: #063c4e;
}

.logo {
    width: 100px;
    height: auto;
}

.bg-header {
    width: 600px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-top: 105px;
    padding-bottom: 105px;
}

.contact {
    background-color: #21A179;
    color: #ffffff;
    border-radius: 8px;
}

.contact:hover {
    color: #ffffff;
}

.section-bg {
    background-color: #21A179;
}

.w-webflow-badge {
    display: none !important;
}

.bg-work {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary);
}

.justify {
    text-align: justify;
    text-justify: inter-word;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.link {
    text-decoration: none;
    color: var(--primary);
}

.section-subheading p {
    text-align: justify;
    text-justify: inter-word;
}